<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.4.0" targetFramework="net452" />
  <package id="MediaInfo.DotNetWrapper" version="1.0.2.0" targetFramework="net452" />
  <package id="MediaInfo.Native" version="0.7.97" targetFramework="net452" />
  <package id="MediaInfoDotNet" version="0.7.79.40925" targetFramework="net452" />
  <package id="MediaInfoNet" version="0.3" targetFramework="net452" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net452" />
  <package id="taglib" version="2.1.0.0" targetFramework="net452" />
</packages>