@model HomeArchiveX.Web.Models.PaginatorViewModel
<div class="paginator">
@for (int i = @Model.FirstPage; i < @Model.LastPage + 1; i++)
{
    <div class="page-number">
        @if (i == @Model.CurrentPage) {
            @i
        }else
        {
            @Html.ActionLink(i.ToString(), "Index", new { page = i })
        }
        
    </div>
}
</div>
