@model HomeArchiveX.Web.Models.DriveViewModel 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Ключ
        </th>
        <th>
           Наименование
        </th>
        
    </tr>

@foreach (var item in Model.DriveItems) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DriveId)
        </td>
        <td>
            @Html.ActionLink( item.Title, "Detail", new { id = item.DriveId })
        </td>
        
    </tr>
}
    @Html.Partial("_Paginator",Model.PaginatorViewModel)

</table>
